server:
  port: 8081

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:h2:file:./data/identity-db
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true

logging:
  level:
    root: INFO

