server:
  port: 8082

spring:
  application:
    name: trading-command-service
  datasource:
    url: jdbc:h2:file:../shared/event-store
    driver-class-name: org.h2.Driver
    username: sa
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true

logging:
  level:
    root: INFO
    com.stocktrader: DEBUG

